<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 mt-2 mb-2" *ngFor="let publication of publications | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <nubimetrics-detail [publication]="publication"></nubimetrics-detail>
  </div>
</div>

<div class="row mt-4" *ngIf="publications.length > 0">
  <div class="col">
    <pagination 
    class="justify-content-center"
    [(ngModel)]="page"
    previousText="Anterior" 
    nextText="Siguiente" 
    [totalItems]="publications.length" 
    [itemsPerPage]="pageSize"
    [maxSize]="5"></pagination>
  </div>
</div>