
<!-- Encabezado -->
<nubimetrics-header></nubimetrics-header>

<div class="container-fluid">
  <div class="row">

    <!-- Filtros y Ordenación -->
    <div class="col-md-3 mt-3 d-none d-md-block position-fixed">
      <nubimetrics-filter></nubimetrics-filter>
    </div>
    
    <!-- Otros -->
    <div class="col-md-9 mt-3 offset-md-3">

      <!-- Busqueda de texto -->
      <div class="row justify-content-center">
        <div class="col-md-8">
          <nubimetrics-search></nubimetrics-search>
        </div>
      </div>

      <!-- Filtros y Ordenación -->
      <div class="row d-block d-md-none mb-4">
        <div class="col">
          <nubimetrics-filter></nubimetrics-filter>
        </div>
      </div>

      <!-- Listado de productos -->
      <div class="row">
        <div class="col">
          <nubimetrics-list></nubimetrics-list>
        </div>
      </div>

    </div>
  </div>
</div>