<h3>{{ query$ | async }}</h3>
<p>{{ totalItems }} resultados</p>

<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="itemPerPage">Items por pagina:</label>
        <select class="form-control" id="itemPerPage" name="itemPerPage" [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    
      <hr />
    
      <div class="form-group">
        <label for="orderByPrice">Order por precio:</label>
        <select class="form-control" id="orderByPrice">
          <option value="">- Seleccione -</option>
          <option value="desc">Menor precio</option>
          <option value="asc">Mayor precio</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="orderByPrice">Order por cantidad vendidas:</label>
        <select class="form-control" id="orderByPrice">
          <option value="">- Seleccione -</option>
          <option value="asc">Más vendidas</option>
          <option value="desc">Menos vendidas</option>
        </select>
      </div>
    
      <hr />
    
      <div class="form-group">
        <label for="condition">Condici&oacute;n:</label>
        <select class="form-control" id="condition">
          <option value="">- Seleccione -</option>
          <option value="new">Nuevos</option>
          <option value="used">Usados</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="orderByPrice">Rango de precio:</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Min">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Max">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>