<div class="card text-center">
  <div class="card-body">
    <span class="badge badge-light condition-type">{{ publication.condition | conditionType }}</span>
    <img src="{{ publication.thumbnail }}" alt="{{ publication.title }}" class="img-thumbnail">

    <hr />

    <h5 class="card-subtitle"><a href="#" (click)="findPublicationById($event, publication.id)">{{ publication.title }}</a></h5>
    <h5 class="card-title mb-2 mt-1 text-muted">$ {{ publication.price }}</h5>

    <hr />

    <div><span class="mr-1">Publicaci&oacute;n:</span> <span class="badge badge-light">{{ publication.listing_type_id | listingType }}</span></div>
    
    <hr />

    <div class="row">
      <div class="col">
        <h5>{{ publication.available_quantity }}</h5>
        <span class="text-muted">Disponibles</span>
      </div>
      <div class="col">
        <h5>{{ publication.sold_quantity }}</h5>
        <span class="text-muted">Vendidas</span>
      </div>
    </div>
  </div>
</div>